<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.warningwang.quickswitch">

    <application
            android:label="Quick Switch"
            android:supportsRtl="true">

        <activity android:name=".ProxyActivity"
                  android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="quick_switch_refresh"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>